#page-home {
	border: solid 2px red;
	height: 105vh;
	display: flex;
	.container {
		border: solid 2px blue;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 90%;
		max-width: 1080px;
		height: 100%;
		max-height: 850px;
		margin: auto;
		header {
			margin: 6px;
			color: var(--title-color);
			.logotipo {
				width: 60px;
			}
			.logo-title {
				margin-bottom: 6px;
				line-height: 20px;
			}
			.slogan {
				font-size: 0.67rem;
			}
		}
		.content {
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			max-width: 510px;
			.score-group {
				min-width: 345px;
				min-height: 495px;
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 8px;
				background-color: aliceblue;
				// justify-content: space-around;
				border: solid 2px var(--primary-dark-color);
				legend {
					padding: 0 4px;
					font-size: 0.8rem;
					text-align: center;
					color: var(--primary-dark-color);
				}
				input[type="number"] {
					width: 200px;
					height: 50px;
					margin: 10px;
					padding: 15px;
					border-radius: 6px;
					text-align: center;
					color: var(--primary-dark-color);
					background-color: var(--default-white);
					border: solid 1px var(--primary-dark-color);
					&::placeholder {
						color: var(--disabled-color);
					}
					&:focus {
						background-color: var(--primary-light-color);
						border: solid 1px var(--primary-dark-color);
					}
				}
				button {
					margin: 6px;
					border: none;
					width: 200px;
					height: 40px;
					padding: 15px;
					line-height: 0;
					font-size: 1rem;
					font-weight: 600;
					border-radius: 6px;
					text-align: center;
					&.discover {
						border: solid 1.5px var(--primary-dark-color);
						background-color: var(--primary-color);
						color: var(--primary-dark-color);
					}
					&.reset {
						color: var(--failure-color);
						background-color: #f0f8ff;
						border: solid 1.5px var(--failure-color);
						&:hover {
							transition: 800ms;
							// color: var(--default-white);
							background-color: #ffbab5;
							// background-color: var(--failure-color);
						}
					}
					&:disabled {
						cursor: not-allowed;
						color: var(--disabled-color);
						background-color: var(--disabled-background-color);
						border: solid 1.5px var(--disabled-background-color);
					}
					&:focus {
						color: var(--default-white);
						background-color: var(--title-color);
					}
				}
				label {
					margin: 10px;
					width: 300px;
					display: flex;
					padding: 12px;
					min-height: 75px;
					font-size: 0.9rem;
					border-radius: 6px;
					align-items: center;
					justify-content: center;
					color: var(--primary-dark-color);
					background-color: var(--default-white);
					border: solid 2px var(--primary-dark-color);
					.approved {
						color: var(--successful-color);
						border: solid 2px var(--successful-color);
					}
					.disapproved {
						color: var(--failure-color);
						border: solid 2px var(--failure-color);
					}
				}
			}
		}
		footer {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem 0;
			font-size: 0.8rem;
			p {
				color: var(--default-black);
				a {
					color: var(--github-color);
				}
			}
		}
	}
}
