:root {
	--default-black: #363636;
	--default-white: #ffffff;
	--title-color: #551a8b;
	--primary-color: #e1c5fd;
	--primary-light-color: #e6e6fa;
	--primary-dark-color: #663399;
	--disabled-background-color: #d1cfcf;
	--disabled-color: #a9a9a9;
	--failure-color: #f44336;
	--successful-color: #34cb79;
	--github-color: #322153;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Rubik, sans-serif;
}
body {
	background-color: #f0f0f5;
	-webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
	width: 6px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
	background: #322153; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
	background-color: #663399; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	// border: 3px solid orange; /* creates padding around scroll thumb */
}
a {
	text-decoration: none;
	font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Ubuntu, sans-serif;
}
button {
	cursor: pointer;
}
button:focus {
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
input[type="number"] {
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
